h1, h2{
	color: #634a00;
}

.header {
	background: #9bc250;
	width: 100%;
	min-height: 700px;
}

.header .photo-container img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 20%;
	height: 20%;
}

.header .intro-container h1{
	font-size: 50px;
	letter-spacing: 1px; 
	text-align: center;
}

.description-container .info h2{
	text-align: center;
	font-size: 30px;
}

.description-container .info div{
	margin-top: 20px;
	text-align: justify;
	font-size: 18px;
}

.description-container .education h2{
	text-align: center;
}