.header {
	background: #9bc250;
	width: 100%;
	min-height: 700px;
}

.header .photo-container img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 20%;
	height: 20%;
}

.header .intro-container h1{
	font-size: 50px;
	letter-spacing: 1px; 
	color: #634a00;
	text-align: center;
}

.description-container .info h2{
	text-align: center;
}

.description-container .education h2{
	text-align: center;
}