.photo-container {
	background: #729433;
}

.photo-container img {
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.intro-container {
	background-color: #000000;
}

.intro-container h1{
	font-size: 4em;
	color: white;
	text-align: center;
}